/* Centra el contenido del body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightsteelblue;
  }
  
  /* Contorno verde neón para las etiquetas section */
  section {
    background-color: aliceblue;
    border: 3px solid black; /* Contorno negro */
  width: 90%; /* Ancho del 90% de la página */
  margin: 0 auto; /* Centrar horizontalmente */
  margin-top: 5px;
  padding: 20px; /* Añadir espacio interno */
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  }
  h1, h2, h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  ul {
    list-style-type: 1; /* Eliminar viñetas o guiones predeterminados */
  }
  
  li {
    padding: 10px; /* Agregar espacio alrededor de cada elemento de la lista */
    margin-bottom: 10px; /* Agregar espacio entre elementos de la lista */
  }
  p {
    color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  button {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: aliceblue;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  button:hover {
    background-color: #e59595;
  }